.menu-list {
  list-style: none;
  column-gap: 1.6rem;
}

.background-black {
  background-color: #0f0f10;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.black-background-dropdown {
  background-color: #0f0f10;
 
}

.menu-item {
  color: #fff;
}

.menu-item::after {
  content: "";
  width: 0px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 5px;
  background-color: #24c8a6;
  transition: width 0.5s ease-in-out;
}

.menu-item:hover {
  color: #24c8a6;
  transition: all 0.5s ease-in-out;
}

.menu-item:hover::after {
  width: 100%;
}

.down-arrow {
  font-size: 0.7rem;
}

.service-menue-dropdown,.page-menue-dropdown,.blog-menue-dropdown {
  position: absolute;
  width: 180px;
  left: 0;
  top: 100%;
  max-height: 0; 
  overflow: hidden; 
  background-color: #0f0f10;
  
  transition: max-height 0.4s ease-in-out;
}

.service-menu {
  position: relative;
}

.service-menu:hover .service-menue-dropdown {
  
  max-height: 300px;
  
}

.service-menue-dropdown li {
  border-bottom: 1px solid gray;
}

.service-menue-dropdown li .dropdown-list-item {
  color: #fff;
  
}

.service-menue-dropdown li .dropdown-list-item:hover {
  color: #24c8a6;
  transition: all 0.5s ease-in-out;
}


.page-menue:hover .page-menue-dropdown {
  max-height: 300px;
}

.page-menue-dropdown li {
  border-bottom: 1px solid gray;
}

.page-menue-dropdown li .page-dropdown-list-item {
  color: #fff;
}

.page-menue-dropdown li .page-dropdown-list-item:hover {
  color: #24c8a6;
  transition: all 0.5s ease-in-out;
}


.blog-menu:hover .blog-menue-dropdown {
  max-height: 300px;
}

.page-menue-dropdown li {
  border-bottom: 1px solid gray;
}

.blog-menue-dropdown li .blog-dropdown-list-item {
  color: #fff;
}

.blog-menue-dropdown li .blog-dropdown-list-item:hover {
  color: #24c8a6;
  transition: all 0.5s ease-in-out;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-item {
    display: none;
  }

  .search-icon {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

/* *************************
 for small screen 
************************** */

.small-screen-menu li {
  border-bottom: 1px solid gray;
}

.small-screen-menu li .menu-text-color {
  color: #fff;
}

.small-screen-menu li a::after {
  content: "";
  width: 0px;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 5px;
  background-color: #24c8a6;
  transition: width 0.5s ease-in-out;
}

.small-screen-menu li .active::after {
  width: 100%;
}
